# Configuration du serveur
PORT=5000

# JWT Secret
JWT_SECRET=ma_cle_secrete_tres_longue_et_complexe_pour_la_production

# Neon Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_P9BwyI7VbHzK@ep-dawn-fog-ab7yv5z9-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Email Configuration (pour Cloudflare)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Base URL (Cloudflare Workers)
BASE_URL=https://your-worker.your-subdomain.workers.dev